# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Resultados Playwright
results/
playwright-report/
playwright/.auth/
test-results/
*.original.md

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Node
node_modules/
